@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
  color: #575b4f !important;
}

p {
  color: #575b4f;
}

/* Navbar */
.navbar-brand {
  margin-left: 2em;
  width: 30%;
}

li {
  margin-left: 2em;
  margin-right: 2em;
}

#contato {
  margin-right: 16em;
}

#logo1 img {
  height: 1.5em;
  margin-right: -5em !important;
}

#logo2 img {
  height: 1.5em;
}

/* Login Page */
.open-modal {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#modal {
  display: none;
  position: absolute;
  width: 90%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 7px 17px rgb(0 0 0 / 50%);
  border-radius: 20px;
  z-index: 999;
  right: 0;
  margin-right: 4em;
}

#modal.active {
  display: block;
}

.modal-hero {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c89c7e;
  padding: 25px 0 30px 0;
}

.modal-hero h3 {
  color: #575b4f;
  font-size: 25px;
  margin-left: 2.3em;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgb(200, 156, 126, 0.6);
  border-radius: 100%;
  margin-right: 25px;
  cursor: pointer;
}

.line {
  width: 50%;
  height: 2px;
  background: #575b4f;
  transform: rotate(45deg);
}

.line::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #575b4f;
  transform: rotate(-90deg);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

input {
  background: rgb(200, 156, 126, 0.1);
  width: 90%;
  height: 50px;
  box-shadow: -2px 2px 2px #c89c7e;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 19px;
  padding: 15px 0 15px 15px;
}

input::placeholder {
  color: #575b4f;
  font-size: 15px;
}

.input-email {
  margin-bottom: 20px;
}

.annotation {
  color: #575b4f;
  padding: 20px;
  font-size: 14px;
  text-decoration: none;
}

#loginText {
  width: 90%;
  height: 45px;
  border: none;
  outline: none;
  background: #c89c7e;
  color: #575b4f;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

#loginText:hover {
  background: #bb734f;
}

#loginText {
  font-size: 1.2em;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #575b4f;
  padding: 15px;
}

/* responsive for small screen */
@media screen and (min-width: 320px) and (max-width: 377px) {
  form {
    padding: 20px 6px 20px 6px;
  }

  input {
    height: 42px;
  }

  button {
    height: 37px;
    font-size: 18px;
  }

  .annotation {
    font-size: 12px;
  }
}

/* Contact Form */
.pageContent {
  display: flex;
  align-items: center;
  /* Centralizar verticalmente */
  position: relative;
  min-height: 115vh;
}

.contactUS {
  position: relative;
  width: 100%;
  padding: 1em 6em;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 3em;
  background: rgb(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15);
}

.box {
  position: relative;
  display: grid;
  grid-template: 2fr 1fr;
  grid-template-rows: 7fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 15px;
  margin-top: -8em;
}

#contactForm {
  background-color: rgb(169, 184, 170, 0.1);
}

.contact h3 {
  text-align: right;
  color: #021904;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 0.7em;
  margin-bottom: 3em;
}

/* Form */
.formbox {
  position: relative;
  width: 100%;
}

.formbox .row50 {
  display: flex;
  gap: 20px;
}

.formbox .row100 {
  margin: 1em 0 1.5em 0;
}

.inputbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formbox .row50 .inputbox {
  width: 100%;
}

.inputbox span {
  color: #021904;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputbox input {
  padding: 10px;
  font-size: 1em;
  outline: none;
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid #333;
}

.inputbox textarea {
  padding: 10px;
  font-size: 1em;
  outline: none;
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputbox input[type="submit"] {
  background: #c89c7e;
  color: #021904;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 35px;
}

.inputbox input[type="submit"]:hover {
  background: #bb734f;
}

.inputbox ::placeholder {
  color: #999;
}

.info {
  background: rgb(200, 156, 126);
  background: radial-gradient(circle, rgba(200, 156, 126, 1) 27%, rgba(187, 115, 79, 0.7301295518207283) 100%);
}

.info h1 {
  margin-bottom: 1em;
  text-align: center;
  color: #021904;
}

/* Efeito no .info h1 */
#bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {

  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.info .infobox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infobox div span {
  margin: 10px;
  min-width: 40px;
  height: 40px;
  color: #f2e9d8;
  background: #021904;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infobox div p {
  color: #fff;
  font-size: 1.1em;
}

.info .infobox div a {
  color: #fff;
  text-decoration: none;
}

.social {
  margin-top: 40px;
  display: flex;
}

.social li {
  list-style: none;
  margin-right: 15px;
}

.social li a {
  color: #ccc;
  font-size: 2em;
}

.social li a:hover {
  color: #021904;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .contactUS {
    position: relative;
    padding: 10em 0;
  }

  .contactUS .title h2 {
    color: #fff;
  }

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .map {
    padding: 0;
    min-height: 300px;
  }

  .formbox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputbox {
    width: 100%;
  }

  .map {
    padding: 30px;
    min-height: 300px;
  }
}

/* Estilos para telas menores */
@media (max-width: 1500px) and (min-width: 990px) {
  .pageContent {
    padding: 12em 5em 10em 5em;
    min-height: 140vh !important;
  }

  .box {
    grid-template-rows: 6fr 3fr;
    grid-template-areas: "form info" "map map";
    grid-gap: 15px;
  }

  .infobox {
    margin-top: 6em;
  }

  .info .infobox .social {
    justify-content: center;
    margin-top: 4em;
  }
}

/* Footer */
footer {
  letter-spacing: 1px;
  /* espaçamento das letras */
  width: 100%;
  color: var(--color-neutral-10);
}

ol,
ul {
  padding-left: 0 !important;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  display: grid;
  /* para colocar em grelha */
  grid-template-columns: repeat(4, 1fr);
  /* para ficar em 4 colunas */
  padding: 3rem 3rem;
  /* espaçamento */
  text-align: center;
  /* Centraliza o conteúdo de texto */
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#logotipo {
  height: 4.5rem;
  width: 8rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  /* espaçamento entre os elementos */
  margin-top: 1.5rem;
  justify-content: center;
  /* Centraliza os ícones horizontalmente */

  a {
    color: #fff !important;
  }
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* os 3 a cima para centralizar o elemento */
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  /* define a cor do elemento */
  border-radius: 50%;
  /* coloca borda nos elementos */
  transition: all 0.4s;
  /* tempo da opacidade */
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
  /* aumenta o tamanho do icone */
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
  /* fica "escuro" quando passa o mouse */
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  /* coloca novamente como colunas */
  gap: 0.75rem;
  /* espaçamento */
  list-style: none;
  /*remove as bolinhas*/
}

.footer-list {

  h4 {
    color: #bb734f;
  }
}

#footer_subscribe {

  color: #575b4f;

  h4 {
    color: #bb734f;
  }
}

.footer-list .footer-link {
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #bb734f;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  justify-content: center;
  /* Centraliza verticalmente */
  align-items: center;
  /* Centraliza horizontalmente */
  width: 80%;
  /* Reduzindo a largura em 10% */
}

#footer_subscribe p {
  color: #575b4f;
}

#input_group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(169, 184, 170, 0.2);
  width: 90%;
  height: 2.5em;
  border-radius: 4px;
}

#input_group input {
  all: unset;
  /*tira a costomização padrão*/
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #bb734f;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

.linha-horizontal {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  color: #575b4f;
}

/*Para deixar responsivo*/
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: 1fr;
    padding: 1rem 1rem;
  }

  #footer_social_media {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 3em;
  }

  #footer_subscribe {
    width: 100%;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    padding: 1rem 1rem;
  }

  #footer_social_media {
    gap: 0.5rem;
  }

  #input_group input {
    padding: 0.5rem;
  }

  #input_group button {
    font-size: 0.875rem;
    padding: 0px 0.75rem;
  }
}

/* Navbar icons and banner goals */
@media (max-width: 991px) {
  .navbar-brand {
    width: 30%;
  }

  #contato {
    margin-right: 16em;
  }

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 30vh;
  }

  .carousel-item img {
    height: 33vh;
  }

  .categories {
    text-align: center;

    .row {
      margin: 0;
      padding: 0;
    }

    .col img {
      width: 100%;
    }
  }
}