@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  overflow-x: hidden !important;
}

/* Navbar */
.navbar-brand {
  margin-left: 2em;
  width: 30%;
}

li {
  margin-left: 2em;
  margin-right: 2em;
}

#contato {
  margin-right: 16em;
}

#logo1 img {
  height: 1.5em;
  margin-right: -5em !important;
}

#logo2 img {
  height: 1.5em;
}

/* Login Page */
.open-modal {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#modal {
  display: none;
  position: absolute;
  width: 90%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 7px 17px rgb(0 0 0 / 50%);
  border-radius: 20px;
  z-index: 999;
  right: 0;
  margin-right: 4em;
}

#modal.active {
  display: block;
}

.modal-hero {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c89c7e;
  padding: 25px 0 30px 0;
}

.modal-hero h3 {
  color: #575b4f;
  font-size: 25px;
  margin-left: 2.3em;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgb(200, 156, 126, 0.6);
  border-radius: 100%;
  margin-right: 25px;
  cursor: pointer;
}

.line {
  width: 50%;
  height: 2px;
  background: #575b4f;
  transform: rotate(45deg);
}

.line::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #575b4f;
  transform: rotate(-90deg);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

input {
  background: rgb(200, 156, 126, 0.1);
  width: 90%;
  height: 50px;
  box-shadow: -2px 2px 2px #c89c7e;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 19px;
  padding: 15px 0 15px 15px;
}

input::placeholder {
  color: #575b4f;
  font-size: 15px;
}

.input-email {
  margin-bottom: 20px;
}

.annotation {
  color: #575b4f;
  padding: 20px;
  font-size: 14px;
  text-decoration: none;
}

#loginText {
  width: 90%;
  height: 45px;
  border: none;
  outline: none;
  background: #c89c7e;
  color: #575b4f;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

#loginText:hover {
  background: #bb734f;
}

#loginText {
  font-size: 1.2em;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #575b4f;
  padding: 15px;
}

/* responsive for small screen */
@media screen and (min-width: 320px) and (max-width: 377px) {
  form {
    padding: 20px 6px 20px 6px;
  }

  input {
    height: 42px;
  }

  button {
    height: 37px;
    font-size: 18px;
  }

  .annotation {
    font-size: 12px;
  }
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 93vh;
  background-color:
    object-fit contain;
  object-position: center;
}

a {
  text-decoration: none !important;
  color: #555 !important;
}

p {
  color: #555;
}

.corouselBody {
  .cards-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    /* Centraliza horizontalmente */
  }

  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card {
    flex: 1 1 30%;
    /* Ajusta a largura dos cartões para serem responsivos */
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }

  .carousel-inner {
    padding: 1em;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: 5%;
  }

  .carousel-control-next {
    right: 5%;
  }

  @media (min-width: 768px) {
    .card img {
      height: 6em;
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: 25%;
    }
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background-color: #c89c7e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(151, 108, 94);
}

.header .row {
  margin-top: 70px;
}

.categories {
  text-align: center;

  .col {
    flex-basis: 50%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 2em;
  }

  .col img {
    width: 90%;
  }
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.col-4 {
  width: 20% !important;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #c89c7e;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* --Offer-- */
.offer {
  background: radial-gradient(#fff, #021);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/* Testimonial */
.testimonial {
  padding-top: 8em;
  padding-bottom: 8em;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* Footer */
footer {
  letter-spacing: 1px;
  /* espaçamento das letras */
  width: 100%;
  color: var(--color-neutral-10);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  display: grid;
  /* para colocar em grelha */
  grid-template-columns: repeat(4, 1fr);
  /* para ficar em 4 colunas */
  padding: 3rem 3.5rem;
  /* espaçamento */
  text-align: center;
  /* Centraliza o conteúdo de texto */
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#logotipo {
  height: 4rem;
  width: 6rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  /* espaçamento entre os elementos */
  margin-top: 1.5rem;
  justify-content: center;
  /* Centraliza os ícones horizontalmente */

  a {
    color: #fff !important;
  }
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* os 3 a cima para centralizar o elemento */
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  /* define a cor do elemento */
  border-radius: 50%;
  /* coloca borda nos elementos */
  transition: all 0.4s;
  /* tempo da opacidade */
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
  /* aumenta o tamanho do icone */
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
  /* fica "escuro" quando passa o mouse */
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  /* coloca novamente como colunas */
  gap: 0.75rem;
  /* espaçamento */
  list-style: none;
  /*remove as bolinhas*/
}

.footer-list .footer-link {
  color: var(--color-neutral-0);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: var(--color-neutral-30);
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: black;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-30);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  /*tira a costomização padrão*/
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: var(--color-neutral-0);
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

/*Para deixar responsivo*/
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

/* Navbar icons and banner goals */
@media (max-width: 991px) {
  .navbar-brand {
    width: 30%;
  }

  #contato {
    margin-right: 16em;
  }

  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 30vh;
  }

  .carousel-item img {
    height: 33vh;
  }

  .categories {
    text-align: center;

    .row {
      margin: 0;
      padding: 0;
    }

    .col img {
      width: 100%;
    }
  }
}