@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.pageContent {
  position: relative;
  min-height: 100vh;
}

/* Navbar */
.navbar-brand {
  margin-left: 2em;
  width: 30%;
}

li {
  margin-left: 2em;
  margin-right: 2em;
}

#contato {
  margin-right: 16em;
}

#logo1 img {
  height: 1.5em;
  margin-right: -5em !important;
}

<<<<<<< HEAD
#logo2 img {
  height: 1.5em;
=======
nav ul li{
  display: inline-block;
  margin-right: 5em;
}

a{
  text-decoration: none;
  color: #555;
}

p{
  color: #555;
}

.containerHeader{
  max-width: 1300px;
  margin: auto;
  padding-left:25px;
  padding-right: 25px;
  height: 52em;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn{
  display: inline-block;
  background-color: #c89c7e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover{
  background: rgb(151, 108, 94);
}

.header{
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
  margin-top: 70px;
}

/* Social medias icons */

.medias {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.nav-container {
  padding: 0.5rem 2rem;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(#28a745, 0.15), 0 6px 12px 0 rgba(#28a745, 0.15);
  z-index: 1;
  border-radius: 8rem;

  .iconList {
    display: flex;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    transition: transform 0.3s ease;
    margin: 0;

    .icons {
      margin-right: 1em;
      transition: all 0.3s ease;

      button {
        text-decoration: none;
        color: #868e96;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        background: none;
        box-shadow: none;
        border: none;
        z-index: 20;
      }

      img {
        width: 2em;
      }

      &:hover,
      &.active {
        background: #f4f4f4;
        border-radius: 3rem;

        button {
          color: #28a745;
          cursor: pointer;
        }
      }
    }
  }
}

/* Responsive Social Media */
.nav-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.scroll-container {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;
}

.iconList {
  display: flex;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.scroll-arrow {
  text-decoration: none;
  color: #868e96;
  transition: all 0.3s ease;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  background: none;
  box-shadow: none;
  border: none;
  z-index: 20;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: white;
  border-radius: 3rem;

  &:hover {
    color: #28a745;
    background: #f4f4f4;
    cursor: pointer;
  }

  &.active {
    display: flex;
  }

  &.left-arrow {
    left: 0;
  }

  &.right-arrow {
    right: 0;
  }
>>>>>>> 1bf56b8b8d3448631e1aac638d7710cdb401508e
}

/* Footer */
footer {
  letter-spacing: 1px;
  /* espaçamento das letras */
  width: 100%;
  color: var(--color-neutral-10);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  display: grid;
  /* para colocar em grelha */
  grid-template-columns: repeat(4, 1fr);
  /* para ficar em 4 colunas */
  padding: 3rem 3.5rem;
  /* espaçamento */
  text-align: center;
  /* Centraliza o conteúdo de texto */
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#logotipo {
  height: 4rem;
  width: 6rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  /* espaçamento entre os elementos */
  margin-top: 1.5rem;
  justify-content: center;
  /* Centraliza os ícones horizontalmente */

  a {
    color: #fff !important;
  }
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* os 3 a cima para centralizar o elemento */
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  /* define a cor do elemento */
  border-radius: 50%;
  /* coloca borda nos elementos */
  transition: all 0.4s;
  /* tempo da opacidade */
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
  /* aumenta o tamanho do icone */
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
  /* fica "escuro" quando passa o mouse */
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  /* coloca novamente como colunas */
  gap: 0.75rem;
  /* espaçamento */
  list-style: none;
  /*remove as bolinhas*/
}

.footer-list .footer-link {
  color: var(--color-neutral-0);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: var(--color-neutral-30);
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: black;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-30);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  /*tira a costomização padrão*/
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: var(--color-neutral-0);
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

<<<<<<< HEAD
#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

/*Para deixar responsivo*/
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
=======
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*Carrinho*/

#shop{
  margin-top: 0px;
}
.products, .cart {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5; 
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #555;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.add-to-cart:hover {
  background-color: #a8a29e;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
>>>>>>> 1bf56b8b8d3448631e1aac638d7710cdb401508e
}